.Radio {
    margin: 5px;
    padding: 3px;
}

[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

input[type="radio"]:checked+label{ 
  color: white;
  background-color: rgb(9, 116, 14);
}